@model IEnumerable<Core.Models.Payment>

@{ ViewData["Title"] = "Index";}
<h1>Payment History</h1>
<hr/>


<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.PaymentDate)</th>
            <th>@Html.DisplayNameFor(model => model.PaymentMode)</th>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.PaymentDate)</td>
                <td>@Html.DisplayFor(modelItem => item.PaymentMode)</td>
                <td><a href="/payments/details/@item.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>